name: humble

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
          
jobs:
  humble-devel-ci:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        ros_distribution:
          - humble
        # The docker image needs to be ARM64
        docker_image:
          - arm64v8/ubuntu:jammy

    steps:
      - uses: actions/checkout@v4

      - name: Build and Test on ARM64
        uses: uraimo/run-on-arch-action@v2
        with:
          arch: aarch64
          distro: ubuntu22.04
          githubToken: ${{ github.token }}
          install: |
            apt-get update && apt-get install -y curl gnupg2 lsb-release
            curl -sSL https://raw.githubusercontent.com/ros/rosdistro/master/ros.key -o /usr/share/keyrings/ros-archive-keyring.gpg
            echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/ros-archive-keyring.gpg] http://packages.ros.org/ros2/ubuntu $(lsb_release -cs) main" | tee /etc/apt/sources.list.d/ros2.list > /dev/null
            apt-get update
            apt-get install -y ros-${{ matrix.ros_distribution }}-ros-base python3-colcon-common-extensions
            apt-get install -y build-essential
          run: |
            source /opt/ros/${{ matrix.ros_distribution }}/setup.sh
            mkdir -p colcon_ws/src
            cp -r . colcon_ws/src/natnet_ros2
            cd colcon_ws
            colcon build --symlink-install --packages-select natnet_ros2